@media screen and (max-width:570px) {
    .container{
        width: 100%;
        min-height: 100vh;
        position: relative;
        overflow-x: hidden;
    }
    .container header{
        width: 100%;
        padding: 4% 2%; 
    }
    .container header.headerSticky{
        padding: 4% 2%;
    }
    .container header .container__header{
        width: 100%;
    }
    .container header .container__header .hamburger{
        width: 30px;
        height: 20px;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 300;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .container header .container__header .hamburger span.bar{
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: #000;
    }
    .container header .container__header .hamburger.hamburgerRotate span.bar:first-child{
        transform: rotate(45deg) translate(7px,7px);
        transition: 0.5s;
    }
    .container header .container__header .hamburger.hamburgerRotate span.bar:nth-child(2){
        transform: translateX(20px);
        opacity: 0;
        transition: 0.5s;
    }
    .container header .container__header .hamburger.hamburgerRotate span.bar:last-child{
        transform: rotate(-45deg) translate(5px,-5px);
        transition: 0.5s;

    }
    .container header .container__header nav.givmoney{
        position: fixed;
        top: 0;
        width: 0;
        right: -50%;
        padding: 20px 0px;
        min-height: 60vh;
        overflow-x: hidden;
        background-color: #FAFAFD;
        flex-direction: column;
        box-shadow: 2px 5px 10px rgba(0,0,0,0.19);
        transition: 0.5s;
    }
    .container header .container__header nav.givmoney.navShow{
        width: 100%;
        right: 0;
        transition: 0.5s;
    }
    .container header .container__header nav.givmoney  ul.list__givmoney{
        flex-direction: column;
        margin-top: 50px;
    }
    .container header .container__header nav.givmoney  ul.list__givmoney li.list__item__givmoney{
        padding: 10px 0px;
        margin: 5px 0px;
    
    }
    .container header .container__header  nav.givmoney .btn__header{
        flex-direction: column;
    }
    .container header .container__header  nav.givmoney .btn__header button.btn__header{
        display: block;
        margin: 10px auto;
    }
    .container header .container__header  nav.givmoney  .btn__header button.btn__header.noBg{
        color: #000;
    }
    .container  section.banner__givmoney{
        width: 100%;
        height: 100%;
        padding: 0px 10px;
    }
    .container section.banner__givmoney .container__banner__givmoney{
        width: 100%;
        padding-top: 80px;
        padding-bottom: 0px;
    }
    .container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney{
        flex-direction: column;
    }
    .container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__banner__givmoney{
        width: 100%;
    }
    .box__banner__givmoney h1{
        text-align: center;
    }
    .box__banner__givmoney h3{
        text-align: center;
    }
    .container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__banner__givmoney .check .check__inside {
        width: 100%;
    }
    .box__banner__givmoney .check .check__inside span{
        font-size: 20px;
    }
    .container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form{
        width: 100%;
    }
    .container section.sponsor__logo{
        padding: 50px 10px;
    }
    .container section.sponsor__logo .container__sponsor__logo{
        width: 100%;
    }
    .container section.sponsor__logo .container__sponsor__logo .row__sponsor__logo{
        flex-direction: column;
    }
    .container section.sponsor__logo .container__sponsor__logo .row__sponsor__logo img{
        margin-top: 10%;
    }
    .container section.Advantages__givmoney{
        padding: 100px 10px;
    }
    .container section.Advantages__givmoney .container__Advantages__givmoney{
        width: 100%;
    }
    .container section.Advantages__givmoney .container__Advantages__givmoney h1{
        font-size: 30px;
    }
    .container section.Advantages__givmoney .container__Advantages__givmoney .row__Advantages__givmoney{
        flex-direction: column;
    }
    .container section.Advantages__givmoney .container__Advantages__givmoney .row__Advantages__givmoney .box__Advantages__givmoney{
        width: 100%;
        text-align: center;
    }
    .container section.price__givmoney{
        padding: 50px 10px;

    }
    .container section.price__givmoney  .container__price__givmoney{
        width: 100%;
    }
    .container section.price__givmoney  .container__price__givmoney .title__price{
        width: 100%;
    }
    .container section.price__givmoney  .container__price__givmoney .row__price__givmoney{
        flex-direction: column;
    }
    .container section.price__givmoney  .container__price__givmoney .row__price__givmoney .box__price{
        width: 100%;
        margin: 10% 0%;
    }
    .container section.price__givmoney  .container__price__givmoney .row__price__givmoney .box__price.popular{
        width: 100%;
    }
    .container   section.contact__givmoney{
        padding: 50px 10px;
    }
    .container section.contact__givmoney .container__contact__givmoney{
        width: 100%;
    }
    .container section.contact__givmoney .container__contact__givmoney .row__contact__givmoney .box__contact{
        width: 100%;
    }
    .container footer{
        padding: 50px 10px;
    }
    .container footer .container__footer{
        width: 100%;
    }
    .container footer .container__footer .row__footer{
        flex-direction: column-reverse;
    }
    .container footer .container__footer .row__footer .box__footer{
        width: 100%;
        text-align: center;
    }
    .container footer .container__footer .row__footer .container__box__list__footer{
        width: 100%;
        flex-direction: column;
    }
    .container footer .container__footer .row__footer .container__box__list__footer .box__list__footer{
        width: 100%;
        text-align: center;
        margin: 20px 0px;
    }
}