@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --text-nav: #16171C;
  --banner-text-span: #34B3FF;
  --text-banner-small: #494C57;
  --text-form: #494C57;
  --button-green: #00B67A;
  --button-white: #00B67A;
  --footer-bg: #313E60;
}

.container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.container .btn {
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: -50%;
  background-color: var(--text-nav);
  z-index: 200;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.container .btn i {
  color: #fff;
}

.container .btn.scrollBtn {
  right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container header {
  width: 100%;
  top: 0;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 100;
  padding: 2%;
}

.container header .container__header {
  max-width: 1200px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .container__header nav.givmoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 900px;
}

.container header .container__header nav.givmoney ul.list__givmoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  list-style-position: inside;
}

.container header .container__header nav.givmoney ul.list__givmoney li.list__item__givmoney {
  padding: 5px 10px;
  margin: 5px 5px;
}

.container header .container__header nav.givmoney ul.list__givmoney li.list__item__givmoney a.list__link__givmoney {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: var(--text-nav);
}

.container header .container__header nav.givmoney ul.list__givmoney li.list__item__givmoney.active a {
  font-weight: 600;
  color: #000;
}

.container header .container__header nav.givmoney .btn__header button.btn__header {
  display: inline-block;
  padding: 10px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  color: #518CFF;
  background-color: #fff;
}

.container header .container__header nav.givmoney .btn__header button.btn__header.noBg {
  background-color: unset;
  color: #fff;
}

.container header.headerSticky {
  width: 100%;
  background-color: #FAFAFD;
  position: fixed;
  top: 0;
  padding: 1.5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.19);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.19);
}

.container header.headerSticky .container__header nav.givmoney .btn__header button.btn__header.noBg {
  color: #000;
}

.container section.banner__givmoney {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("../images/svg__banner__bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position-x: 900px;
  background-position-y: -200px;
}

.container section.banner__givmoney .container__banner__givmoney {
  max-width: 1200px;
  margin: 0px auto;
  padding: 150px 0px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__banner__givmoney {
  width: 500px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__banner__givmoney h1 {
  color: var(--text-nav);
  font-size: 50px;
  margin: 20px 0px;
  font-family: "Red Hat Display", sans-serif;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__banner__givmoney h1 span {
  color: var(--banner-text-span);
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__banner__givmoney h3 {
  font-family: "Red Hat Display", sans-serif;
  color: var(--text-banner-small);
  font-weight: normal;
  line-height: 1.5;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__banner__givmoney .check {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__banner__givmoney .check .check__inside {
  width: 200px;
  margin: 10px 0px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__banner__givmoney .check .check__inside img {
  display: inline-block;
  vertical-align: middle;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__banner__givmoney .check .check__inside span {
  color: var(--text-banner-small);
  font-family: "Red Hat Display", sans-serif;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form {
  width: 400px;
  border-radius: 10px;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  -webkit-box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.19);
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.19);
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form {
  width: 100%;
  padding: 20px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form .input__group {
  margin: 20px 0px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form .input__group label {
  display: block;
  margin: 10px 0px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form .input__group input[type="text"],
.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form .input__group input[type="password"] {
  display: block;
  width: 100%;
  padding: 15px 7px;
  outline: none;
  border: none;
  background-color: #F8F8FC;
  color: #989DB1;
  border-radius: 10px;
  font-size: 15px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form .input__group .select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8FC;
  border-radius: 10px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form .input__group .select select {
  border-radius: 10px;
  display: inline-block;
  width: 100%;
  font-family: "Inter", sans-serif;
  outline: none;
  border: none;
  background-color: #F8F8FC;
  font-size: 15px;
  color: #989DB1;
  padding: 15px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form button.form {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: var(--button-green);
  outline: none;
  margin-top: 20px;
  border: none;
  font-family: "Inter", sans-serif;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form .note {
  width: 100%;
  margin-top: 20px;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form .note img {
  margin-top: 5px;
  vertical-align: middle;
  display: inline-block;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form .note .text__note {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 90%;
}

.container section.banner__givmoney .container__banner__givmoney .row__banner__givmoney .box__form form .note .text__note span {
  font-size: 14px;
  color: #8D8F98;
  line-height: 1.5;
}

.container section.sponsor__logo {
  padding: 50px 0px;
  position: relative;
  background-color: #FCF9FE;
}

.container section.sponsor__logo .container__sponsor__logo {
  max-width: 1200px;
  margin: 0px auto;
}

.container section.sponsor__logo .container__sponsor__logo .row__sponsor__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section.Advantages__givmoney {
  padding: 100px 0px;
  position: relative;
}

.container section.Advantages__givmoney .container__Advantages__givmoney {
  max-width: 1200px;
  margin: 0px auto;
}

.container section.Advantages__givmoney .container__Advantages__givmoney h1 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 45px;
  text-align: center;
}

.container section.Advantages__givmoney .container__Advantages__givmoney h1 span {
  color: var(--banner-text-span);
}

.container section.Advantages__givmoney .container__Advantages__givmoney .row__Advantages__givmoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.container section.Advantages__givmoney .container__Advantages__givmoney .row__Advantages__givmoney .box__Advantages__givmoney {
  width: 320px;
  height: auto;
  padding: 20px;
  font-family: "Inter", sans-serif;
}

.container section.Advantages__givmoney .container__Advantages__givmoney .row__Advantages__givmoney .box__Advantages__givmoney h3 {
  margin: 10px 0px;
  color: var(--text-nav);
}

.container section.Advantages__givmoney .container__Advantages__givmoney .row__Advantages__givmoney .box__Advantages__givmoney span {
  color: var(--text-form);
  line-height: 1.5;
}

.container section.price__givmoney {
  padding: 100px 0px;
  position: relative;
  background-color: #FAFAFD;
  background-image: url("../images/Ornament.png");
  background-repeat: no-repeat;
  background-size: calc(150px - 20px);
  background-position: top right;
}

.container section.price__givmoney .container__price__givmoney {
  max-width: 1200px;
  margin: 0px auto;
}

.container section.price__givmoney .container__price__givmoney .title__price {
  margin: 0px auto;
  width: 600px;
}

.container section.price__givmoney .container__price__givmoney .title__price h1 {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  font-size: 45px;
}

.container section.price__givmoney .container__price__givmoney .title__price h1 span {
  color: var(--banner-text-span);
}

.container section.price__givmoney .container__price__givmoney .title__price p {
  text-align: center;
  margin: 10px 0px;
  color: #494C57;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price {
  width: 350px;
  height: auto;
  border-radius: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
  padding: 35px 15px;
  background-color: #fff;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price h2 {
  font-family: "Inter", sans-serif;
  color: var(--text-nav);
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price h1 {
  margin-top: 30px;
  font-size: 30px;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price h1 span {
  font-size: 14px;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price p {
  margin: 10px;
  line-height: 1.5;
  color: #8D8F98;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price p span {
  color: var(--banner-text-span);
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price ul {
  margin-top: 20px;
  text-align: left;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price ul li {
  list-style-position: inside;
  list-style-type: none;
  color: #494C57;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price ul li img {
  display: inline-block;
  vertical-align: middle;
  margin: 10px 10px;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price button.price1 {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding: 15px;
  font-family: "Inter", sans-serif;
  outline: none;
  border: none;
  color: #494C57;
  border-radius: 10px;
  cursor: pointer;
  background-color: #FAFAFD;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price.popular {
  background-color: #518CFF;
  color: #fff;
  position: relative;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price.popular .note__price {
  width: 150px;
  height: auto;
  position: absolute;
  top: -10px;
  left: 50%;
  border-radius: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #F2FF57;
  padding: 5px;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price.popular .note__price span {
  font-weight: 600;
  color: #494C57;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price.popular h2 {
  color: #fff;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price.popular p {
  color: #CCE3FF;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price.popular p span {
  color: #CCE3FF;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price.popular ul li {
  color: #fff;
}

.container section.price__givmoney .container__price__givmoney .row__price__givmoney .box__price.popular button.price1 {
  background-color: #00B67A;
  color: #fff;
}

.container section.contact__givmoney {
  padding: 100px 0px;
  position: relative;
  background-image: url("../images/Ornament__contact.png");
  background-repeat: no-repeat;
  background-size: calc(150px - 20px);
}

.container section.contact__givmoney .container__contact__givmoney {
  max-width: 1200px;
  margin: 0px auto;
}

.container section.contact__givmoney .container__contact__givmoney .row__contact__givmoney {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container section.contact__givmoney .container__contact__givmoney .row__contact__givmoney .box__contact {
  max-width: 600px;
  height: auto;
  text-align: center;
}

.container section.contact__givmoney .container__contact__givmoney .row__contact__givmoney .box__contact h1 {
  font-family: "Red Hat Display", sans-serif;
  color: var(--text-nav);
  font-size: 45px;
}

.container section.contact__givmoney .container__contact__givmoney .row__contact__givmoney .box__contact .btn__contact button.btn__contact {
  display: inline-block;
  margin: 50px 10px;
  outline: none;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  background-color: #00B67A;
}

.container section.contact__givmoney .container__contact__givmoney .row__contact__givmoney .box__contact .btn__contact button.btn__contact.noBg {
  background-color: unset;
  border: 1px solid #8D8F98;
  color: var(--text-nav);
}

.container footer {
  padding: 50px 0px;
  position: relative;
  background-color: var(--footer-bg);
}

.container footer .container__footer {
  max-width: 1200px;
  margin: 0px auto;
}

.container footer .container__footer .row__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.container footer .container__footer .row__footer .box__footer {
  width: 200px;
}

.container footer .container__footer .row__footer .box__footer .rating {
  margin-top: 20px;
}

.container footer .container__footer .row__footer .box__footer .rating i {
  font-size: 20px;
  margin-right: 15px;
  display: inline-block;
  color: #FAFAFD;
}

.container footer .container__footer .row__footer .box__footer p {
  font-family: "Red Hat Display", sans-serif;
  color: #FAFAFD;
  margin-top: 15px;
  font-size: 14px;
}

.container footer .container__footer .row__footer .container__box__list__footer {
  width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container footer .container__footer .row__footer .container__box__list__footer .box__list__footer {
  font-family: "Red Hat Display", sans-serif;
  color: #FAFAFD;
}

.container footer .container__footer .row__footer .container__box__list__footer .box__list__footer ul {
  list-style-type: none;
  list-style-position: inside;
}

.container footer .container__footer .row__footer .container__box__list__footer .box__list__footer ul li {
  margin: 5px 0px;
  padding: 5px 0px;
}

.container footer .container__footer .row__footer .container__box__list__footer .box__list__footer ul li a {
  text-decoration: none;
  color: #FAFAFD;
}
/*# sourceMappingURL=style.css.map */